body{
	margin: 0px;
}
#topinfo{
	position: absolute;
	z-index: 1;
	top: 0px;
	width: 100%;
	height: 150px;
	box-shadow: inset 0 100px 150px -50px;
}
#leftinfo{
	display: inline;
	font-family: 'PT sans';
}

#rightinfo{
	float: right;
	display: inline;
	font-family: 'PT sans';
}
#leftinfo::before{
	content: url("../img/Map-Location.png")
}
#rightinfo::before{
	content: url("../img/Contact.png")
}
#centerinfo{
	width: 1024px;
	margin: 0 auto;
	color: white;
	text-shadow: 0 1px 10px black;
	font-family: ptserif;
	font-size: x-large;
	margin-top: 50px;
}

.logo img{
	height: 400px;
	margin: 160px auto;
	display: block;
	vertical-align: middle;
}
.fotorama{
	color: white;
	min-width: 1024px;
}

.slidetext{
	text-align: center;
	margin-top: 210px;
	text-shadow: 0 1px 10px black;
}
.divider{
	height: 5px;
	width: 150px;
	background-color: #c19886;
	margin: 0 auto;
}
.slidetext h1{
	font-family: 'PT serif';
}
.slidetext p{
	font-family: 'Lobster', cursive;
	font-size: x-large;
	margin: 10px;
}
.middleinfo{
	width: 1024px;
	margin: 0px auto;
	padding-top: 30px;
}
.mleftinfo{
	width: 512px;
	color: #444444;
	display: inline-block;
}
.mleftinfo h2{
	text-align: center;
	font-family: 'PT serif';
	margin: 10px;
}
.mleftinfo p{
	font-family: 'PT sans';
	text-indent: 2em;
}
.mleftinfo .divider{
	width: 180px;
}
.mshadow{
	-webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);	
}
.mrightinfo{
	padding: 0px;
	width: 512px;
	float: right;
}
.mrightinfo > div{
	margin: 26px;
}
.blockpicture{
	width: 228px;
	height: 304px;
	display: inline-block;
	background-position: center;
}
.blockinfo{
	display: inline-block;	
}
.cellinfo{
	width: 252px;
	display: inline-block;
	height: 50px;
	text-align: center;
}
.cellinfo > div{
	display: inline-block;
	font-family: 'PT sans';
	font-size: x-large;
	color: #444444;
}