body{
	margin: 0px;
	-ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
#topinfo{
	position: absolute;
	z-index: 1;
	top: 0px;
	min-width: 1024px;
	width: 100%;
	height: 150px;
	box-shadow: inset 0 100px 150px -50px;
	-moz-box-shadow: inset 0 100px 150px -50px;
}
#leftinfo{
	display: inline-block;
	text-align: right;
}
#leftinfo a{
	color: white;
}
#leftinfo a:hover{
	color: #c19886;
	text-decoration: none;
}
#rightinfo{
	display: inline-block;
	vertical-align: top;
	float: right;
}
#leftinfo i::before{
	content: url("../img/Map-Location.png")
}
#rightinfo i::before{
	content: url("../img/Contact.png")
}
#centerinfo{
	width: 964px;
	margin: 0 auto;
	color: white;
	font-family: 'PT sans';
	font-size: large;
	text-shadow: 0 1px 10px black;
	padding: 50px 30px 0 30px;
}

.logo img{
	height: 400px;
	margin: 160px auto;
	display: block;
}
.fotorama{
	color: white;
	min-width: 1024px;
}

.slidetext{
	text-align: center;
	margin-top: 210px;
	text-shadow: 0 1px 10px black;
}
.divider{
	height: 5px;
	width: 150px;
	background-color: #c19886;
	margin: 0 auto;
}
.slidetext h1{
	font-family: 'PT serif';
}
.slidetext p{
	font-family: 'Lobster', cursive;
	font-size: x-large;
	margin: 10px;
}
.middleinfo{
	min-width: 1024px;
	max-width: 1280px;
	margin: 0px auto;
	padding-top: 30px;
}
.mleftinfo{
	min-width: 512px;
	max-width: 640px;
	color: #444444;
	overflow: hidden;
}
.mleftinfo h2{
	text-align: center;
	font-family: 'PT serif';
	margin: 10px;
}
.mleftinfo p{
	font-family: 'PT sans';
	text-indent: 2em;
	font-size: large;
}
.mleftinfo .divider{
	width: 180px;
}
.middleinfo:after {
 content: "";
 display: block;
 clear: both;
 }
.mshadow{
	-webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);	
}
.mrightinfo{
	padding: 0px;
	width: 512px;
	float: right;
}
.mrightinfo > div{
	margin: 26px;
}
.blockpicture{
	width: 226px;
	height: 304px;
	display: inline-block;
	background-position: center;
}
.blockinfo{
	min-width: 1024px;
	max-width: 1280px;
	margin: 0 auto;
}
.tableinfo{
	display: table;
	width: inherit;
	width: 100%;
	height: 50px;
}
.cellinfo{
	min-width: 252px;
	text-align: center;
	display: table-cell;
}
.cellinfo > div{
	display: inline-block;
	font-family: 'PT sans';
	font-size: x-large;
	color: #444444;
	margin-left: 10px;
}
.cellinfo img{
	vertical-align: top;
}
.postinfo{
	background-color: #202020;
	min-width: 1024px;
	font-family: 'PT sans';
	font-size: medium;
	color: white;
}
.postinfo:after {
 content: "";
 display: block;
 clear: both;
 }
.postinfo > div{
	max-width: 1280px;
	margin: 0 auto;
}
.row{
	position: relative;
}
.col{
	margin: 0 0 0 30px;
	position: relative;
	width: 30%;
	float: left;

}
.postinfo p{
	display: inline-block;
	margin: 10px 0 10px 30px;
}
.postinfo a{
	display: inline-block;
	margin: 10px 0 10px 30px;
	color: white;
}
.postinfo a:hover{
	text-decoration: none; 
}
.postinfo i:before{
	position: absolute;
	top: 12px;
}
#postinfoadres:before{
	content: url(../img/Map-Location-16.png)
}
#postinfotel:before{
	content: url(../img/Contact-16.png)
}
#postinfoclock:before{
	content: url(../img/Clock-01-16.png)
}
#postinfomail:before{
	content: url(../img/Mail-Box-16.png)
}
#postinfoshare:before{
	content: url(../img/Share-03-16.png)
}
.ya-share2{
	display: inline-block;
	vertical-align: top;
}
.ya-share2__link{
	margin: 0;
}
.ya-share2__item{
	width: 30px;
}